.page {
  background: linear-gradient(to right, #8360c3, #2ebf91);
  /* font-family: Inter, Arial, sans-serif; */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
